ion-title{
    color: white;
}

ion-toolbar{
    --background:#FF3838;
}

ion-back-button{
    color: white;
}

.av-item{
    margin: 5px;
    --background: #EAEAEA;
}

.list-pedido{
    position: relative;
}

.list-pedido li{
    float: left;
    list-style: none;
    margin: 0 5px;
}

.list-pedido ul {
    margin: 0;
    padding: 0;
}

ion-item{
    --background: #EAEAEA;
    border-bottom: 1px solid #FF3838;
}


.rodape ion-item{
    --background: #FF3838;
}

.rodape p{
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.rodape ion-button{
    --color:white;
    height: 40px;
}


ion-fab-button{
    margin-top: 15px;
    --background:white;
    --color:#FF3838;
}