<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title>Restaurante</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-button routerLink="./cadastro-restaurante" (click)="showLoading()" expand="block" fill="outline" *ngIf="addButton">
      <ion-icon slot="start" name="add"></ion-icon>
      Adicionar
    </ion-button>

    <ion-list>
      <ion-item *ngFor="let restaurante of restaurantes">
        <ion-card style="width: 100%;">
          <ion-card-header>
            <ion-card-title>{{restaurante.razaoSocial}}</ion-card-title>
            <ion-label>
              <ion-icon name="clipboard"></ion-icon>{{restaurante.segmento}}
            </ion-label>
          </ion-card-header>
          <ion-card-content>
            {{restaurante.detalhes}}
          </ion-card-content>
          <ion-button class="btn-detalhes" expand="full" [routerLink]="['/restaurante/detalhes', restaurante.id]">
            <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>Ver detalhes
          </ion-button>
        </ion-card>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer>

  </ion-footer>
</ion-app>