<ion-header>
  <ion-toolbar>
    <ion-title>Cadastre sua comida</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="comida"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div class="dadoscomida">
    <ion-list>
      <ion-item>
        <ion-label>Título:</ion-label>
        <ion-input type="text" [(ngModel)]="comida.nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Imagem</ion-label>
        <ion-input type="text" [(ngModel)]="comida.urlImagem"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Valor:</ion-label>
        <ion-input type="number" [(ngModel)]="comida.valor"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Itens composição:</ion-label>
        <ion-textarea clearOnEdit="true" type="text" [(ngModel)]="comida.itens_composicao"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>Tipo:</ion-label>
        <ion-select placeholder="Selecione" [(ngModel)]="comida.tipo" [ngModelOptions]="{standalone: true}">
          <ion-select-option value="Doce">Doce</ion-select-option>
          <ion-select-option value="Salgada">Salgada</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Detalhes:</ion-label>
        <ion-textarea clearOnEdit="true" type="text" [(ngModel)]="comida.detalhes"></ion-textarea>
      </ion-item>
    </ion-list>

    <ion-item>
      <p><ion-label>Popularidade:</ion-label></p>
      <ion-range color="danger" dualKnobs="false" min="1" max="5" step="1" snaps="true" [(ngModel)]="comida.popularidade"></ion-range>
    </ion-item>

    <ion-button id="btn-EditSave" (click)="salvar()"> 
      <ion-icon name="checkmark-done-outline" slot="end"></ion-icon>Cadastrar
    </ion-button>
  </div>
</ion-content>  
