ion-title{
    color: white;
}

ion-toolbar{
    --background:#FF3838;
}

ion-back-button{
    color: white;
}

ion-input{
    font-weight: bold;
}

ion-label{
    margin-top: 5px;
}

#btn-Editar{
    --border-color: #FF3838;
    color: #FF3838;
    --background: transparent;
}
