<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="comida"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col  (click)="navegarComida()">
        <p id="comida"><ion-icon name="fast-food"></ion-icon></p>
      </ion-col>
      <ion-col  [routerLink]="['/restaurante/detalhes/avaliacao', restaurante.id]"> 
        <p><ion-icon name="create"></ion-icon></p>
      </ion-col>
    </ion-row>
  </ion-grid>



  <div class="dadosPessoais">
    <h3>Informações do Cadastro</h3>
    <ion-list>
      <ion-item>
        <ion-label>Titulo:</ion-label>
        <ion-input type="text" [(ngModel)]="comida.nome"></ion-input>
      </ion-item>

      <!--<ion-item>
        <ion-label>Valor</ion-label>
        <ion-select placeholder="Selecione" [(ngModel)]="comida.nivelValor" [ngModelOptions]="{standalone: true}">
          <ion-select-option value="baixo_1">R$01 - 20</ion-select-option>
          <ion-select-option value="baixo_2">R$20 - 30</ion-select-option>
          <ion-select-option value="medio">R$30 - 40</ion-select-option>
          <ion-select-option value="alto_1">R$50 - 80</ion-select-option>
          <ion-select-option value="alto_2">Maior de R$80</ion-select-option>
        </ion-select>
      </ion-item>-->

      <ion-item>
        <ion-label>Imagem</ion-label>
        <ion-input type="text" [(ngModel)]="comida.urlImagem"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Detalhes:</ion-label>
        <ion-textarea clearOnEdit="true" type="text" [(ngModel)]="comida.detalhes"></ion-textarea>
      </ion-item>
    </ion-list>
  
    
    
    <ion-button *ngIf="hideMe" (click)="confirmarExclusao(comida)">
      <ion-icon name="close-outline"></ion-icon>Excluir.
    </ion-button>
    

    <ion-button *ngIf="!hideMe" id="btn-Editar" expand="block" fill="outline" (click)="editar()">
      <ion-icon name="build-outline" slot="end"></ion-icon>Editar Comida
    </ion-button>

    <ion-button id="btn-EditSave" (click)="salvarEdicao()" *ngIf="hideMe">
      <ion-icon name="checkmark-done-outline" slot="end"></ion-icon>Salvar Edição
    </ion-button>
  </div>

  


</ion-content>
