ion-toolbar{
    --background:#FF3838;
    color: white;
}

ion-range{
    --knob-size: 10px;
    --height: 10px;

}

ion-badge{
    font-size: 15px;
}

h2{
    font-weight: bold;
}

.text-comentario{
    color: #9d9fa6;
}

.av-item{
    margin: 5px;
    --background: #EAEAEA;
}

ion-fab-button{
    --background: #EFEFEF;
}

.icon-add{
    color: #FF3838;
}

