<ion-app>
  <ion-header >
    <ion-toolbar color="red">
      <ion-title class="Titulo" >Meu Comida</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding" color="red">
      <ion-button expand="block" color="tertiary" id="buttonbar" (click)="navegarRestaurante()" >Restaurantes</ion-button>
      <ion-button expand="block" color="tertiary" id="buttonbar" (click)="navegarLogin()">Cadastro</ion-button>
  </ion-content>

  <ion-footer>
    <ion-toolbar class="footer-bg" style="background-color: #3F00C2 !important;">
    </ion-toolbar>
  </ion-footer>
</ion-app>