<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="restaurante"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col  (click)="navegarComida()">
        <p id="comida"><ion-icon name="fast-food"></ion-icon></p>
      </ion-col>
      <ion-col  (click)="navegarAvalicao()"> 
        <p><ion-icon name="create"></ion-icon></p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
