<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="restaurante"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col  [routerLink]="['/restaurante/detalhes/comida', restaurante.id]">
        <p id="comida"><ion-icon name="fast-food"></ion-icon></p>
      </ion-col>
      <ion-col  [routerLink]="['/restaurante/detalhes/avaliacao', restaurante.id]"> 
        <p><ion-icon name="create"></ion-icon></p>
      </ion-col>
    </ion-row>
  </ion-grid>



  <div class="dadosPessoais">
    <h3 *ngIf="infocad">Informações do Cadastro</h3>
    <h3 *ngIf="infodet">Detalhes do restaurante</h3>
    <ion-list>
      <ion-item>
        <ion-label>Razão Social:</ion-label>
        <ion-input type="text" [(ngModel)]="restaurante.razaoSocial" disabled="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Segmento</ion-label>
        <ion-select placeholder="Selecione" [(ngModel)]="restaurante.segmento" [ngModelOptions]="{standalone: true}" [disabled]="!edit">
          <ion-select-option value="Pizzaria">Pizzaria</ion-select-option>
          <ion-select-option value="Hamburgueria">Hamburgueria</ion-select-option>
          <ion-select-option value="Massas">Massas</ion-select-option>
          <ion-select-option value="Japonesa">Comida Japonesa</ion-select-option>
          <ion-select-option value="Porcoes">Porções</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Valor</ion-label>
        <ion-select placeholder="Selecione" [(ngModel)]="restaurante.nivelValor" [ngModelOptions]="{standalone: true}" [disabled]="!edit">
          <ion-select-option value="baixo_1">R$01 - 20</ion-select-option>
          <ion-select-option value="baixo_2">R$20 - 30</ion-select-option>
          <ion-select-option value="medio">R$30 - 40</ion-select-option>
          <ion-select-option value="alto_1">R$50 - 80</ion-select-option>
          <ion-select-option value="alto_2">Maior de R$80</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Imagem</ion-label>
        <ion-input type="text" [(ngModel)]="restaurante.urlImagem" [disabled]="!edit"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Detalhes:</ion-label>
        <ion-textarea clearOnEdit="true" type="text" [(ngModel)]="restaurante.detalhes" [disabled]="!edit"></ion-textarea>
      </ion-item>
    </ion-list>
    
    
    <ion-button *ngIf="hideMe" (click)="confirmarExclusao(restaurante)" id="btn-excluir">
      <ion-icon name="close-outline"></ion-icon>Excluir.
    </ion-button>
    
    <ion-button id="btn-EditSave" (click)="salvarEdicao()" *ngIf="hideMe">
      <ion-icon name="checkmark-done-outline" slot="end"></ion-icon>Salvar Edição
    </ion-button>

    <ion-button *ngIf="editButton" id="btn-Editar" expand="block" fill="outline" (click)="editar()">
      <ion-icon name="build-outline" slot="end"></ion-icon>Editar Restaurante
    </ion-button>

  </div>

</ion-content>
